*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
desktop.ini/
vendor/
composer.lock
build/logs/
*.log
/task/node_modules
/task/public/hot
/task/public/storage
/task/storage/*.key
/task/vendor
/task/.env
/task/.phpunit.result.cache
/task/Homestead.json
/task/Homestead.yaml
/task/npm-debug.log
/task/yarn-error.log
